.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.egg-info
.dist-info
.build
build
dist
.eggs
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
.pytype
.pyre
.env
.env.*
.DS_Store
.idea
.vscode
node_modules
viewer
assets
