SERVICE_TOKEN=
SERVICE_TOKEN_HEADER=x-service-token
S3_REGION=
S3_ENDPOINT_URL=
S3_ADDRESSING_STYLE=
TMP_DIR=
ALIGN_CONFIG_YAML=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=default_config.yml
